<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Spam Detection</title>
</head>
    <body>

        <center>
            <h1>Spam Detector </h1>
            <p>Insert spam below. . . </p>
            <form action="/signup" method="get">


                <input type="text" name="message"><br>
                <input type="submit" value="Signup">
                
            </form>

       

    </body>
</html>