<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Spam Detection</title>
</head>
<style>
body {
    color: black;
    background-color: pink
}

h1 {
    color: blue;
    font-size:500%
}
</style>
    <body>

        <center>
            
            <h1>Spam Detector </h1>
            <p>Insert spam below. . . </p>
            <form>
                Message: <br>
                <input type="text" name="message"><br>
            <p>   <input type="submit" value="Submit"> </p>
            </form>


        <script type="text/javascript">
          
          
           
        </script>
    </body>
</html>
