<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Spam Detection</title>
</head>
    <body>

        <center>
            <h1>Spam Detector </h1>
            <p>Insert spam below. . . </p>
            <form>
                Message: 
                <br>
                <input type="text" name="firstname"><br>
                <input type="submit" value="Submit">
            </form>

           <!--<form method="post" name="form1">
                <input name="digit" id='digit' type="hidden"/>
            </form>
            <input type="button" onclick="handleSubmit()" value="Detect"/>
            <input type="button" onclick="handleClear()" value="clear"/>
        </center>
-->
        <script type="text/javascript">
          
          #Need to input stuff in here
           
        </script>
    </body>
</html>
